# {{ ansible_managed }}

server:
{% for site in unbound_local_records %}

    # for Site {{ site.site }}
    local-zone: {{ site.zone }}. static
{% for host in site.hosts %}

    local-data: "{{ host.name }}.{{ site.zone }}. A {{ host.ip }}"
    local-data-ptr: "{{ host.ip }} {{ host.name }}.{{ site.zone }}."
{% if host.aliases is defined %}
{% for alias in host.aliases %}
    local-data: "{{ alias }}.{{ site.zone }}. A {{ host.ip }}"
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
